.icon-button {
  position: relative;
}

.icon-button::before {
  content: attr(data-tooltip);
  position: absolute;
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-button:hover::before {
  visibility: visible;
  opacity: 0.8;
}