name: Semantic PR Title

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions:
  pull-requests: read

jobs:
  semantic-pr:
    runs-on: ubuntu-latest
    steps:
      - name: semantic-pull-request
        uses: amannn/action-semantic-pull-request@v6.1.1
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            chore
          ignoreLabels: |
            skip-pr-title
          validateSingleCommit: true
